header{
    font-size: 35px;
    font-style: normal;
    text-align: center;
    border: 5px outset black;
    border-radius: 200px;
}
header + p{
    font-size: 18px;
    color: black;
    text-align: center;
}
.menu li:first-child{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.menu li:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu li{
    width: 200px;
    height: 50px;
    list-style-type: none;
    border: 2px solid black;
    text-align: center;
}
.menu a{
   color: darkblue;
   font-size: 18px;
   font-style: italic;
   font-weight: bold;
   letter-spacing: 5px;
}
.catalog li{
    width: 200px;
    height: 50px;
    list-style-type: none;
    border: 5px solid brown;
    text-align: center;
}
.catalog a{
    color: darkblue;
   font-size: 18px;
   font-style: italic;
   font-weight: bold;
   letter-spacing: 5px;
}

.prod{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
p {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
/*.tech{
    list-style-image: url(../img/nota3.png);
}

.tech li {
    font-style: oblique;
    color: darkblue;
    line-height: 24px;
}*/

textarea{
    height: 100px;
    width: 400px;
}

input{
    width: 200px;
    height: 25px;
}

textarea,
input{
    font-size: 14px;
    border: darkblue solid 2px;
    font-style: italic;
    background-color: whitesmoke;
    color: black;
    font-weight: 600;
    text-transform: capitalize;
}
.mail {
    color: blue;
}
.mail:focus {
    background-color: yellowgreen;
}
.form{
    text-align: center;
}
.tForm{
    font-size: 18px;
    line-height: 35px;
    font-weight: 800;
    font-style: oblique;
    text-align: center;

}

img[alt="Mic"],[alt="Mon"]{
    outline: 4px double royalblue;
}
img[alt="Mic"]:hover,[alt="Mon"]:hover{
    outline: none;
}

.menu li a:hover {
    color: red;
}
.menu li a:active {
    color: orange;
}

table{
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
    font-style: oblique;
    color: darkblue;
    line-height: 24px;
}

table td {
    border: 1px solid #000;
}

.desc::first-letter {
    font-size: 32px;
    font-weight: 800;
    color: red;
}